.top {
    background-image: url(../image/top-mv_sp.png);
    background-position: center;
    background-size: cover;
    height: 674px;
    position: relative;
    // ヘッダー分の余白を開ける↓
    margin-top: 100px;
    @include overTab {
        background-image: url(../image/top-bg.png);
    }

    .top-title{
        color: cl(white);
        // 画像の中央寄せ↓
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        // ここでヘッダーが消えたため、コンテンツの重なりを指定するコードをheader.scssに記載
        text-align: center;
        font-size: 35px;
        width: 100%;
        @include overTab {
            font-size: 50px;
        }
    }
}

