.footer {
    background-color: cl(primary);
    padding-top: 60px;
    padding-bottom: 15px;
    border-top: 1px solid #6E6E6E;
    .inner {

    }

    .nav-wrap {
    }

    .nav-list {
        text-align: center;
        justify-content: center;
        @include overTab {
            display: flex;
        }
    }

    .nav-item {
        + .nav-item{
            margin-top: 20px;
            @include overTab {
                margin-left: 35px;
                margin-top: 0;
            }
        }
        a{
            font-size: 18px;
            color: cl(white);
        }
    }

    .footer-logo {
        width: 188px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 60px;
    }

    .footer-end {
        padding-top: 20px;
        color: cl(white);
        font-size: 18px;
        text-align: center;
    }
}